@charset "UTF-8";

@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Bold'), local('GolosText-Bold'),
    url('../../fonts/golos-text-700-normal.woff2') format('woff2'),
    url('../../fonts/golos-text-700-normal.woff') format('woff'),
    url('../../fonts/golos-text-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
